*

!bash/
bash/*
!bash/duse
!bash/fif
!bash/guake-quick-open.sh
!bash/git-branch-diffs
!bash/pkuse
!bash/speed
!bash/toggle-mic.sh
!bash/toggle-term.sh
!bash/vm


!ruby/
ruby/*
!ruby/apt-remove-old-kernels
!ruby/fiflist
!ruby/gits


!gm/
gm/*
!gm/lctv-chat/
!gm/lctv-chat/*
